*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    background-image: url(https://c4.wallpaperflare.com/wallpaper/203/203/693/sunset-drawing-animals-lake-wallpaper-preview.jpg);
    height: 300px;
}
